{% extends 'base.html' %}

{% block title %}login{% endblock title %}

{% block content %}
<div class="continer">
 <h1>Connexion</h1>
 <form method ="POST">
    {% csrf_token %}
    <p> 
        <Label for="username"><p>Nom d'utilisateur</P></Label>
        <input id="username" type="text" name="username">
    </p>
    <p>
        <label for="password">Mot de passe</label></p>
        <input id="password" type="password" name="password">
    </p>
    <button class="btn" type="submit">Se connecter</button>
    <div class = brand>
        <p><a class="btn style1" href="{% url 'inscription' %}">Crée un compte</a></P>
    </div>
</div>
        <style>
            h1{
                padding-top: 50px;
            }
            .continer{
                text-align: center;
                width: 350px;
                height: 500px;
                background: black;
                border: 1px solid black;                
            }
            .btn{
                margin-top: 30px;
                background-color: blue;
                color: white;
                border: 1px solid black;
            }    
            .style1{
                background-color: #cacacc5f;
                color: white;               
            }  
            .brand{
                margin-top: 20px;
            }
        </style>
</form>
</div>

{% endblock %}